<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Torrefactor</title>
	<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="@Url.Action("Index")">Torrefactor</a>
			</div>
			<div class="collapse navbar-collapse" style="display: none;" data-bind="visible: true">
				<!-- ko if: user.isAdmin() -->
				<ul class="nav navbar-nav">
					<li>
						@Html.ActionLink("Админка", "Admin")
					</li>
				</ul>
				<!-- /ko -->
				<p class="navbar-text navbar-right" data-bind="text: user.name"></p>
			</div>
		</div>
	</nav>

	<div class="container" style="display: none;" data-bind="visible: true">

		<!-- ko if: user.noAdmins() -->
		<div class="panel panel-warning">
			<div class="panel-heading">Внимание!</div>
			<div class="panel-body">
				Нужно выбрать пользователя, который будет размещать заказ, в конфиге приложения.
			</div>
		</div>
		<!-- /ko -->
		@RenderSection("Content", true)
	</div>

	<script src="~/Content/js/lib/jquery-1.9.1.min.js"></script>
	<script src="~/Content/js/lib/bootstrap.min.js"></script>
	<script src="~/Content/js/lib/knockout-3.3.0.js"></script>
	<script src="~/Content/js/lib/knockout.mapping.js"></script>
	<script src="~/Content/js/user.js"></script>
	@RenderSection("Scripts")

</body>
</html>
