<div>
  <button class="btn btn-primary" (click)="reload()" [class.disabled]="isLoading">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update coffee kinds
  </button>
  <button class="btn btn-primary" (click)="upload()" [class.disabled]="isLoading">
    <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Create order on Torrefacto
  </button>
  <button class="btn btn-primary" (click)="clear()" [class.disabled]="isLoading">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove all orders
  </button>
</div>
<table class="table">
  <thead>
  <tr>
    <th>User</th>
    <th>Order</th>
    <th>Cost</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th></th>
    <th></th>
    <th> {{ price }} р</th>
  </tr>
  </tfoot>
  <tbody>
    <tr *ngFor="let order of orders">
      <td> {{ order.name }}</td>
      <td>
        <span *ngFor="let kind of order.orders">
          {{ kind.name }} {{ kind.packs[0].weight }}g
          <span *ngIf="kind.packs[0].count > 1">
            &times;&nbsp;{{ kind.packs[0].count }}
          </span>,
        </span>

      </td>
      <td>{{ order.price }}р</td>
    </tr>
  </tbody>
</table>
