<table mat-table [dataSource]="coffeeKinds" *ngIf="activeGroupOrderExists">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="smallPack">
        <mat-header-cell *matHeaderCellDef> Small pack </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            {{element.smallPack.weight}} g ({{element.smallPack.price}} RUR) x {{ element.smallPack.count }}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="smallPackAdd">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <button mat-button (click)="addPack(element, element.smallPack)">+</button>
            <button mat-button (click)="removePack(element, element.smallPack)">-</button>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="bigPack">
        <mat-header-cell *matHeaderCellDef> Big pack </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            {{element.bigPack.weight}} g ({{element.bigPack.price}} RUR) x {{ element.bigPack.count }}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="bigPackAdd">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <button mat-button (click)="addPack(element, element.bigPack)">+</button>
            <button mat-button (click)="removePack(element, element.bigPack)">-</button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['name', 'smallPack', 'smallPackAdd', 'bigPack', 'bigPackAdd']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name', 'smallPack', 'smallPackAdd', 'bigPack', 'bigPackAdd'];"></mat-row>
</table>

<div *ngIf="!activeGroupOrderExists && !isLoading" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex="50%">
        <h2>Right now we are not planning to order coffee.</h2>
        <p>If you want some coffee, pls post a message in #coffee channel</p>
    </div>
</div>