<h5>Available coffee kinds:</h5>
<table class="table">
  <thead>
  <tr>
    <th>Kind</th>
    <th *ngFor="let pack of availablePacks">Pack {{ pack.weight }} g</th>
  </tr>
  </thead>
  <tbody data-bind="foreach: availableCoffeeKinds">
  <tr *ngFor="let coffee of availableCoffeeKinds" [class.success]="isOrdered(coffee)">
    <td>{{ coffee.name}}</td>
    <td *ngFor="let pack of coffee.packs">
      <span> {{ pack.count }}</span>&nbsp;
      <div class="btn-group btn-group-sm" role="group" aria-label="Coffee actions">
        <button type="button" class="btn btn-outline-primary" (click)="addPack(pack)">+</button>
        <button type="button" class="btn btn-outline-primary" (click)="removePack(pack)">-</button>
      </div>
      &nbsp;&times;&nbsp;{{ pack.price }}р
    </td>
  </tr>
  </tbody>
</table>

<h5>Not available:</h5>
<ol *ngFor="let coffee of unavailableCoffeeKinds">
  <li> {{ coffee.name }}</li>
</ol>
